.page {
  margin: 0 auto;
  max-width: 1440px;
}
.item_cat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  gap: 20px;
}

.catalog {
  display: flex;
  gap: 40px;
  padding: 40px 0px;
  align-items: center;

}

.p_catalog {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding: 20px;
}

.btn_categories {
  width: 120px;
  height: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
 
  text-align: center;
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;



}
